:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
  background: linear-gradient(to right, #ffffff, var(--primary-color));

}

section {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}